/* body,html {
    height: 100%;
    margin: 0px;
} */
.container div {
    border: 0px;
    padding: 10px;
}
.container {
    display: flex;
    width: 360px;
    height: 360px;
    flex-wrap: wrap;
    justify-content: center;
    border: black solid 0.1px;
}
.grid {
    display: flex;
    justify-content: center;
}